@font-face {
  font-family: "ReithSans";
  src: url("./BBCReithSans_Rg.ttf") format("truetype");
}
body {
  font-family: "ReithSans", Arial, Helvetica sans-serif;
}

header {
  padding: 0 16px;
}
header svg {
  min-height: 32px;
  margin: 0px 6px;
}
header .container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-left {
  display: flex;
  height: 100%;
  align-items: center;
}
header .menu-right {
  display: flex;
}
header .sign-in:hover,
header .alarm:hover,
header .burger:hover,
header .search:hover {
  border-bottom: 2px solid #000;
  transform: translateY(1px);
}
header .menu {
  display: none;
}
header .menu ul {
  display: none;
}

main .weather-header {
  padding: 0 1.6rem;
  color: #fff;
  background-color: #149edc;
  margin-bottom: 1rem;
  position: relative;
  height: 60px;
}
main .weather-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
main .weather-header h2 {
  margin-bottom: 0;
  font-size: 3rem;
}
main .weather-header .search-bar {
  position: absolute;
  z-index: 1;
  top: 108px;
  left: 0px;
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  width: 100%;
  display: none;
}
main .weather-header .search-bar .fake-input {
  height: 36px;
  border: 1px solid #000;
  background-color: #f6f6f6;
  display: flex;
}
main .weather-header .search-bar .fake-input button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
main .weather-header .search-bar .fake-input button svg {
  height: 24px;
}
main .weather-header .search-bar .fake-input button:hover svg {
  fill: #067eb3;
}
main .weather-header .search-bar .fake-input input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  outline: none;
}
main .weather-header .search-menu {
  position: absolute;
  top: 160px;
  left: 0px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  padding: 16px;
  color: #000;
  display: none;
}
main .weather-header .search-menu p {
  margin-bottom: 0;
  padding: 8px 16px;
}
main .weather-header .search-menu ul {
  padding: 8px 16px;
  border-top: 1px solid #000;
}
main .weather-header .location {
  top: 60px;
  left: 0px;
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  width: 100%;
  height: 48px;
  display: none;
  position: absolute;
}
main .weather-header .location button {
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
main .weather-header .location button span {
  color: #fff;
}
main .weather-header .location button svg {
  padding: 4px;
  min-width: 32px;
}
main .weather-header .search {
  padding-left: 2rem;
  flex-shrink: 0;
}
main .weather-header .search label {
  cursor: pointer;
}
main .weather-header .search input {
  display: none;
}
main .weather-header .close {
  display: none;
}
main .weather-header .search-locations {
  position: absolute;
  top: 152px;
  left: 0px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  padding: 16px;
  color: #000;
  display: none;
}
main .weather-header .search-locations li {
  text-overflow: ellipsis;
  padding: 11px 16px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
main .weather-header .search-locations li:hover {
  background-color: #000;
  color: #fff;
}
main .weather-header.open {
  color: #000;
  background-color: #fff;
}
main .weather-header.open label:hover svg {
  fill: #067eb3;
}
main .weather-header.open .magnifier {
  display: none;
}
main .weather-header.open .close {
  display: block;
}
main .weather-header.open .search-menu {
  display: block;
}
main .weather-header.open .search-bar {
  display: block;
}
main .weather-header.open .search {
  display: block;
}
main .weather-header.open .location {
  display: block;
}
main .weather-map {
  padding: 3.2rem 16px;
  color: white;
  background-image: url("./clouds.jpg");
  background-position: center;
}
main .weather-map div {
  display: flex;
  flex-direction: column;
}
main .weather-map h2 {
  margin-bottom: 0;
}
main .weather-map .map {
  margin: auto;
  margin-top: 32px;
  justify-content: center;
}
main .weather-map .map-container {
  max-width: 450px;
  max-height: 685px;
}
main .weather-map img {
  width: 100%;
  height: 100%;
}
main .weather-map a {
  display: flex;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 16px;
}
main .weather-map a svg {
  fill: #fff;
  margin-right: 8px;
}
main .weather-map a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}
main .weather-by-day {
  display: none;
  padding: 3.2rem 16px 0 16px;
  background-image: url(./city-background.jpg);
  background-position: center;
  background-size: cover;
}
main .weather-by-day .city-header {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  max-width: 745px;
}
main .weather-by-day .city-header h2 {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 8px;
  margin-bottom: 0;
}
main .weather-by-day .city-header h2 ~ button {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  border: none;
  height: 30px;
}
main .weather-by-day .city-header h2 ~ button span {
  display: none;
}
main .weather-by-day .dayCarousel {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}
main .weather-by-day .dayCarousel > button {
  background-color: #149edc;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 1.6rem;
  height: 94px;
  width: 32px;
  margin-top: 20px;
  flex-shrink: 0;
}
main .weather-by-day .dayCarousel > button.back svg {
  transform: rotate(90deg);
}
main .weather-by-day .dayCarousel > button.forward svg {
  transform: rotate(-90deg);
}
main .weather-by-day .dayCarousel ul {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
}
main .weather-by-day .dayCarousel ul li {
  background-color: #fff;
  width: 108px;
  height: 94px;
  flex-shrink: 0;
  border-bottom: 5px solid #9fcd80;
  padding: 0 8px;
  border-left: 1px solid #ced0d1;
}
main .weather-by-day .dayCarousel ul li button {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}
main .weather-by-day .dayCarousel ul li .description {
  display: none;
}
main .weather-by-day .dayCarousel ul li:hover h3 {
  text-decoration: underline;
}
main .weather-by-day .dayCarousel ul li.selected {
  width: 130px;
  height: 114px;
  border-top: 5px solid #9fcd80;
  border-bottom: none;
}
main .weather-by-day .dayCarousel ul li.selected .description {
  display: flex;
  position: absolute;
  bottom: -34px;
  left: 0px;
  background-color: #fff;
  width: calc(100vw - 17px);
  margin-left: -16px;
  padding-left: 16px;
  padding-top: 16px;
  justify-content: center;
  z-index: -1;
}
main .weather-by-day .dayCarousel ul li.selected .description p {
  width: 100%;
  max-width: 745px;
  font-size: large;
}
main .weather-by-day .dayCarousel ul li h3 {
  margin-bottom: 0;
}
main .weather-by-day .dayCarousel ul li p {
  margin-bottom: 8px;
}
main .weather-by-day .dayCarousel ul li p.high {
  font-weight: 900;
}
main .weather-by-day .dayCarousel ul li .dayCont {
  display: flex;
  height: 85px;
}
main .weather-forecast {
  padding: 3.2rem 16px;
  background-color: #f6f6f6;
}
main .weather-forecast h2 + div > div:not(.floating-div) {
  background-color: #fff;
  display: flex;
  padding: 16px;
}
main .weather-forecast h2 + div > div:not(.floating-div) svg {
  margin-right: 3px;
}
main .weather-features {
  padding: 3.2rem 16px;
}
main .weather-features ul {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "p1" "p2" "p3" "p4" "p5";
}
main .weather-features li {
  padding: 0.8rem 0;
  border-top: 1px solid #8a8c8e;
}
main .weather-features li .content {
  display: flex;
  align-items: flex-start;
}
main .weather-features li .lds-ripple {
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
main .weather-features li:nth-child(1) {
  grid-area: p1;
}
main .weather-features li:nth-child(2) {
  grid-area: p2;
}
main .weather-features li:nth-child(3) {
  grid-area: p3;
}
main .weather-features li:nth-child(4) {
  grid-area: p4;
}
main .weather-features li:nth-child(5) {
  grid-area: p5;
}
main .weather-features img {
  max-width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
main .weather-features img ~ div {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
}
main .weather-features img ~ div h3 {
  margin-bottom: 0.8rem;
}
main .weather-features img ~ div > p {
  margin-bottom: 0;
}
main .weather-features img ~ div > p a {
  color: #067eb3;
}
main .weather-features img ~ div > p a:hover {
  text-decoration: underline;
}
main .weather-features img ~ div > a:hover h3 {
  color: #067eb3;
  text-decoration: underline;
}
main .weather-features img:hover ~ div h3 {
  color: #067eb3;
  text-decoration: underline;
}
main .weather-features .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
main .weather-features .lds-ripple div {
  position: absolute;
  border: 4px solid #5f5e5e;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
main .weather-features .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
main .weather-settings {
  padding: 3.2rem 16px;
  background-color: #f6f6f6;
}
main .weather-settings h3 {
  margin: 0;
}
main .weather-settings h2 ~ div {
  display: flex;
  flex-direction: column;
}
main .weather-settings h2 ~ div div:not(:last-child) {
  padding-bottom: 2rem;
}
main .weather-settings select {
  width: 100%;
  height: 4.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.5rem;
  border: solid 0.0625rem #141414;
  max-width: 296px;
}
main .weather-more {
  padding: 3.2rem 16px;
}
main .weather-more a {
  text-decoration: underline;
}
main .weather-more a:hover {
  color: #067eb3;
}
main .weather-more li {
  padding: 12px 0;
}
main .weather-more h3 {
  font-weight: 600;
  margin: 12px 0;
}
main .weather-more h3 ~ ul li {
  margin-right: 3rem;
}
main .weather-more h3 ~ ul {
  display: flex;
  flex-direction: column;
}
main .weather-more h2 ~ ul li {
  display: flex;
  flex-direction: column;
}
main .weather-footer {
  padding: 2.5rem 16px;
  background-color: #f6f6f6;
  font-size: 1.3rem;
}
main .weather-footer a {
  text-decoration: underline;
  font-weight: 600;
}

footer {
  background-color: #4c4c4c;
  border-top: 1px solid #949494;
  color: #fff;
  padding: 0 16px;
}
footer h2 {
  margin: 2rem 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -16px;
}
footer ul li {
  padding-left: 16px;
  box-sizing: content-box;
  min-width: calc(50% - 16px - 1px);
}
footer a:hover {
  text-decoration: underline;
}
footer .links ul li {
  padding-top: 1.6rem;
  border-right: 1px solid #949494;
}
footer .legal {
  padding-top: 2rem;
  border-top: 1px solid #949494;
}
footer .legal ul li {
  margin-bottom: 1.5rem;
}
footer .explore .domestic {
  display: none;
}
footer .copyright {
  padding-bottom: 1rem;
}

@media screen and (min-width: 400px) {
  main .weather-settings {
    padding-right: 0;
  }
  main .weather-settings h2 ~ div {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .weather-settings h2 ~ div div {
    width: 50%;
    padding-right: 2rem;
  }
  footer ul li {
    min-width: calc(33.33% - 16px - 1px);
  }
}
@media screen and (min-width: 600px) {
  header .logo {
    order: -1;
  }
  header .alarm {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
  header .menu {
    display: block;
    flex-grow: 1;
  }
  main .weather-header .search {
    display: none;
  }
  main .weather-header .search .magnifier {
    display: none;
  }
  main .weather-header .search-bar {
    display: block;
    position: initial;
    background-color: transparent;
    padding: 0;
    margin-left: 2rem;
  }
  main .weather-header .search-locations,
  main .weather-header .search-menu {
    top: 60px;
  }
  main .weather-header .location {
    display: block;
    position: initial;
    background-color: transparent;
    width: -moz-fit-content;
    width: fit-content;
    height: 36px;
    padding: 0;
    margin-left: 2rem;
  }
  main .weather-header .location button {
    width: auto;
    padding: 0px;
  }
  main .weather-header .location span {
    display: none;
  }
  main .weather-by-day .city-header h2 ~ button {
    width: 200px;
    text-align: left;
  }
  main .weather-by-day .city-header h2 ~ button span {
    display: initial;
  }
  main .weather-features ul {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 1.6rem;
    grid-template-areas: "p1 p1 p2 p2 p3 p3" "p4 p4 p4 p5 p5 p5";
  }
  main .weather-features li {
    width: 100%;
    border-top: none;
  }
  main .weather-features li .content {
    flex-direction: column;
  }
  main .weather-features li img,
  main .weather-features li div {
    max-width: 100%;
  }
  main .weather-features li:nth-child(4), main .weather-features li:nth-child(5) {
    border-top: 1px solid #8a8c8e;
  }
  main .weather-features li:nth-child(4) img, main .weather-features li:nth-child(5) img {
    display: none;
  }
  main .weather-settings h2 ~ div div {
    width: 33.3%;
    padding-right: 2rem;
  }
  main .weather-more h3 ~ ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .weather-more li:has(h3) {
    width: 100%;
  }
  footer ul li {
    min-width: calc(25% - 16px - 1px);
  }
}
@media screen and (min-width: 900px) {
  main .weather-map div {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .weather-map div h2 {
    width: 42%;
  }
  main .weather-map div h2 + div {
    width: 58%;
  }
  main .weather-by-day .dayCarousel ul li.selected {
    width: 406px;
  }
  main .weather-by-day .dayCarousel ul li.selected .description {
    height: 100%;
    position: initial;
    width: 50%;
    color: #000;
    z-index: inherit;
    padding-top: 0;
    margin-left: 0;
  }
  main .weather-by-day .dayCarousel ul li.selected .description p {
    padding-left: 8px;
    border-left: 1px solid #8a8c8e;
  }
  main .weather-features ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.6rem;
    grid-template-areas: "p1 p2 p3 p4" "p1 p2 p3 p5";
  }
  main .weather-more h2 ~ ul li {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .weather-more h3 {
    flex-grow: 1;
    min-width: 215px;
    max-width: 312px;
  }
}
@media screen and (min-width: 1008px) {
  main section > div,
  main .search-menu > div,
  main .search-locations > div {
    max-width: 976px;
    margin: 0 auto;
  }
  footer > div {
    max-width: 976px;
    margin: 0 auto;
  }
  footer ul li {
    min-width: calc(16.6% - 16px - 1px);
  }
  footer .legal ul li {
    width: auto;
    min-width: 0;
  }
}
@media screen and (min-width: 1020px) {
  main .weather-forecast > div {
    max-width: 83rem;
  }
}
@media screen and (min-width: 1280px) {
  main section > div,
  main .search-menu > div,
  main .search-locations > div {
    max-width: 1280px;
  }
  main .weather-features ul {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-areas: "p1 p2 p3 p4 p5";
  }
  main .weather-features li:nth-child(4), main .weather-features li:nth-child(5) {
    border-top: none;
  }
  main .weather-features li:nth-child(4) img, main .weather-features li:nth-child(5) img {
    display: initial;
  }
  footer > div {
    max-width: 1280px;
  }
}/*# sourceMappingURL=style.css.map */